/* background image  */
body{
    background-image: url("images/Sidbakgrund.png");
    display: flex;
    flex-direction: column;
 } 

 main{
     flex-grow: 1;
 }


 h2{
    color: white;
    
 }
/* nav-menu  */
.nav-meny{
  margin: 0;
  width: 0px;
}

ul {
    width: 1920px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 15px;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
}

li {
    display: inline-block;
    margin: 0px 5px;
    } 
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        padding: 6px 18px 6px 18px;
        }

        /* text settings  */
 p { 
        text-align: center;
        width: 600px;
        margin: 20px auto 20px auto;
        font-weight: normal;
}


#picture {
    width: 470px;
    margin: 20px auto 20px auto;
    position: fixed;
    }
/* the hover for the steal chooice  */
 #nav-meny li.steal a:hover {
  color: red;
}
/* picture button  */
 .picture-upload {
    display: inline-block;
    top: 0px; 
    left: 0px;
    color:white;
    position: fixed;
    margin-top: 16px; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
         }
         /* hover settings for button  */
         .picture-upload:hover{
            color: gray;
         }
   /* Footer down on the page           */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(119, 70, 7);
    text-align: center;
    display: flex;
    border-top: solid 1px white;
}
/* To preview the picture  */
#preview {
    min-height: 200px;
    max-width:200px; 
    display:none;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 30px;
    border: 1px solid rgb(119, 70, 7);
    }
