/* Background picture */
body{
    background-image: url("images/Sidbakgrund.png");
     display: flex;
    flex-direction: column;
 } 
/* Nav menu */
.nav-meny{
  margin: 0;
  width: 0px;
}

ul {
    width: 1920px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 15px;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
}

li {
    display: inline-block;
    margin: 0px 5px;
    } 
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        padding: 6px 18px 6px 18px;
    }
     h1{ color: white;
        text-align: center;
        margin: 20px auto 20px auto;
        font-weight: normal;
        margin-bottom: 20px;
    } 
    /* text on the site */
 p { 
        text-align: center;
        width: 600px;
        margin: 20px auto 20px auto;
        font-weight: normal;
        color: white;
}

/* the picture on the site */
#picture {
    width: 570px;
    margin: 20px auto 20px auto;
    }
/* Hover for the steal chooice in the nav menu */
 #nav-meny li.steal a:hover {
  color: red;
}


